body {
    overflow-x: hidden;
}

nav {
    background-color: #393E46;
    display: flex;
    justify-content: center;
    padding: 15px;
    position:sticky;
  top: 0;
  left: 0;
  z-index: 1000;
    
    
 }

 .primary-navigation {
    display: flex;
    list-style: none;
    align-items: center;
    gap:var(--gap, 3rem)
}
.mobile-nav-toggle{
    display: none;
}


@media (max-width: 40em) {
    .primary-navigation {
        position: fixed;
        align-items: flex-start;
        inset: 0 30% 0 0;
        padding-right: 0;
        padding: min(30vh, 10rem) 0 0 3em ;
        flex-direction: column;
        background-color: #375a64 ;
        z-index: 1000;
        transform: translate(-100%);
        transition: transform 250ms ease;
    }
    .primary-navigation[data-visible="true"] {
        transform: translate(0%);
    }
    .mainDivForHeader {
        width: 95vw;
    }
     
    .mobile-nav-toggle{
        position: absolute;
        z-index: 9999;
        color: white;
        top: 0.5rem;
        left: 1.5rem;
        display: block;
    }
   
}
 .mainDivForHeader {
     width: 80vw;
     display: flex;
     justify-content: space-between;
 }

.leftDiv {
 display: flex;
 
 }
 .navlinks.active{
    color: #e6b0a1;
 }
 
 .navlinks {
    font-size: 20px;
    color: white;
     text-decoration: none;
 }
 .navlinks:hover {
     color: #e6b0a1;
     transition: all 0.3s ease 0s;
 }

 
 
 
 
 
 